body {
  background-color: #ffffff;
  font-size: 17px;
  width: 100%;
  font-family: "SolaimanLipiNormal";
}

.marquee-text {
  background-color: #827f7f;
}
.marquee-data {
  background-color: #f0f0f0;
}
