.catagory-title {
    background-color: #ECEAEA;
    border-left: 5px solid#EB0303;
    padding: 6px;
    margin-bottom: 7px;
    margin-top: 7px;
    color: #000;
    font-weight: 400;
    font-size: 20px;
}


.catagory-title a {
    color: #000;
    font-weight: 400;
    font-size: 20px;
    padding-left: 5px;
    text-decoration: none;
}


.leadnews {
    margin-bottom: 8px;
}

.leadnews img {
    width: 100%;
    float: bottom;
    border: 1px solid #D2D5DB;
    padding: 1px;
}

.hadding_1 {
    margin: 0;
    padding-bottom: 7px;
    margin-top: 8px;
}

.hadding_1 a {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
}

.content-dtls {
    text-align: justify;
}

.hadding_3 {
    padding-right: 3px;
    padding-left: 6px;
    padding-bottom: 4px;
    margin: 0;
}
.hadding_3 a {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
}

.image-title {
    overflow: hidden;
}

.border {
    border-bottom: 1px solid #5C5C5D;
    padding-bottom: 6px;
    margin-bottom: 6px;
}
.image-title img {
    float: left;
    border: 1px solid #D2D5DB;
    padding: 2px;
    width: 30%;
    margin-right: 10px;
}

.middle_news img {
    width: 100%;
    height: auto;
    border: 1px solid #D2D5DB;
    padding: 1px;
}