.top-header {
  padding-bottom: 9px;
  border-bottom: 1px solid #ddd;
  margin-top: 5px;

  .date {
    padding-top: 5px;
    margin-bottom: 5px;
  }

  .search-box {
    padding-top: 0px;
  }

  form.example {
    margin-top: 0px;

    button {
      float: left;
      width: 30%;
      padding: 5px;
      background: #327dbd;
      color: #fff;
      font-size: 17px;
      border: 1px solid #327dbd;
      border-left: none;
      cursor: pointer;
    }

    input[type="text"] {
      padding: 5px;
      font-size: 17px;
      border: 1px solid #ddd;
      float: left;
      width: 70%;
      background: #fff;
    }
  }

  .top-hdr-social {
    ul {
      width: 100%;
      list-style: none;
      margin-bottom: 0;
      padding-left: 0px;
      padding-top: 6px;
      text-align: right;

      li {
        display: inline-block;
        color: #4d0202;

        &:not(:last-child)::after {
          content: "|";
          padding-left: 10px;
          padding-right: 10px;
        }

        a {
          font-size: 21px;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .top-header {
    .date {
      text-align: center;
    }

    .top-hdr-social {
      ul {
        text-align: center;
      }
    }
  }
}
